name: Build validation
on: [pull_request]

jobs:
  build:
    name: build-${{matrix.os}}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable

      - name: Build
        run: cargo build
      
      - name: Check formatting
        run: cargo fmt --all -- --check
      
      - name: Check clippy
        run: cargo clippy --all-targets --all-features -- -D warnings
      
      - name: Check tests
        run: cargo test --all-features
